/target/*
/project/project/*
/project/target/*
/.bsp/*
/.idea/*
*~
/resources/AppleTeamId
config.json
/plugins/*
!/resources/*
/resources/trafficCollection/__pycache__/
!/plugins/.gitkeep
/venv*
*.log
*.json
*.lst